<div>
    board name
</div>

<div>
    Posting mode: New thread
    <br /><br />
    <a href="/homepage">Return to homepage</a>
</div>

<div class="mainPost">
    <form method="post">
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th><label>Email</label></th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th><label>Subject</label></th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th><label>Comment</label></th>
                    <td><textarea rows="3" cols="30"></textarea></td>
                </tr>
                <tr>
                    <th><label>File</label></th>
                    <td>
                        <input type="file">
                    </td>
                </tr>
                <tr>
                    <th><label>Passwrod</label></th>
                    <td>
                        <input type="password">
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="New Post">
                    </th>
                </tr>
            </tbody>
        </table>
    </form>
</div>