
div {    
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 30%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.boards h3 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

ul {
   list-style: none; 
   padding: 0;
   margin: 0;
}

li {
    margin: 5px;
}