.container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    height: 100vh;
}

.authBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #4250452c;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.login{
    
}

.signup {
    
}*/