<div class="container">
    <span><h1>Welcome to my webker project!</h1></span>
    <span><a routerLink="/homepage">Go back to homepage</a></span>
    <span>
        <p>
            This forum is made with the idea that it should be a text board!
            As so, only text can be posted to these boards and threads.
        </p>
        <p>
            <br/>
            Why is this project in english?
            <br/>
            I dunno really. Just felt right I guess.
        </p>
        <br/>
        <p>
            Here's a bit of help, if you're here to grade this project for
            Webfejlesztési keretrendszerek* (IB471G-1) course.
        </p>
    </span>
    <span>
        <table>
            <tr>
              <th>Adatmodell definiálása (legalább 4 TypeScript interfész vagy class formájában (ugyanennyi kollekció))</th>
              <th>/app/shared/models/...</th>
            </tr>
            <tr>
                <th>Legalább 2 különböző attribútum direktíva használata</th>
                <th>None</th>
            </tr>
            <tr>
                <th>Legalább 2 különböző strukturális direktíva használata</th>
                <th>homepage.component, content.component</th>
            </tr>
            <tr>
                <th>Adatátadás szülő és gyermek komponensek között (legalább 1 @Input és 1 @Output)</th>
                <th>1 @Output: signup.component</th>
            </tr>
            <tr>
                <th>Legalább 10 különböző Material elem helyes használata.</th>
                <th>None</th>
            </tr>
            <tr>
                <th>Adatbevitel Angular form-ok segítségével megvalósítva (legalább 2)</th>
                <th>Singup, Login, posting</th>
            </tr>
            <tr>
                <th>Legalább 1 saját Pipe osztály írása és használata</th>
                <th>/app/shared/pipes/</th>
            </tr>
            <tr>
                <th>Legalább 2 különböző Lifecycle Hook használata a teljes projektben (értelmes tartalommal, nem üresen)</th>
                <th>content.component, post.component, etc...</th>
            </tr>
            <tr>
                <th>CRUD műveletek mindegyike megvalósult (Promise, Observable használattal)</th>
                <th>Services done, ui: Boards(CRUD(Don't put spaces into board names)), everything else(CR)</th>  
            </tr>
            <tr>
                <th>CRUD műveletek service-ekbe vannak kiszervezve és megfelelő módon injektálva lettek</th>
                <th>app/services/...</th>
            </tr>
            <tr>
                <th>Firestore adatbázis használata az adatokhoz (integráció, környezeti változók használata helyes legyen)</th>
                <th>services</th>
            </tr>
            <tr>
                <th>Legalább 2 komplex Firestore lekérdezés megvalósítása (ide tartoznak: where feltétel, rendezés, léptetés, limitálás)</th>
                <th>board-manager, thread, user service(where)</th>
            </tr>
            <tr>
                <th>Legalább 4 különböző route a különböző oldalak eléréséhez</th>
                <th>homepage, userprofile, about, board specific routes</th>
            </tr>
            <tr>
                <th>Szubjektív pontozás a projekt egészére vonatkozólag (mennyire fedi le a projekt a témakört (mennyire kapcsolódik hozzá), mennyi lehet a befektetett energia a projektben)</th>
                <th>:)</th>
            </tr>            
        </table>
        <p>
          If you're still confused about anything feel free to contact me:
          <br/>
          Coospace.
          <br/>
          Discord: EXDE#3016
          <br/>
          Matrix: @exde:club1.fr
          <br/>
          Session: 05c5313d9950558bfe0f33feb53d6c43cfd41fd9ccd879a7fbda4f78e7dcdf040a
        </p>
    </span>
</div> 
