/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background-color: rgb(32, 32, 32);
    height: 100vh;
    font-family: arial,helvetica,sans-serif;
    color: aquamarine;
}

a, a:visited {
    color: inherit;
}

